[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pillow = "*"
dearpygui = "*"
dearpygui-ext = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
black = "*"
check50 = "*"
submit50 = "*"
style50 = "*"

[requires]
python_version = "3.8"
