[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pillow = "*"
dearpygui = "*"
dearpygui-ext = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.8"
